.consultingForm  
    .container 
        form.consultingForm__inner(action="post") 
            input.consultingForm__input(placeholder='Ваше имя')
            input.consultingForm__input(placeholder='Email')
            button.button.consultingForm__button Получить консультацию