.form   
    .container 
        form.form__inner(action="") 
            input.form__input(placeholder='Ваше имя')
            input.form__input(placeholder='Email')
            button.button.form__button Получить консультацию