- 
    let servicesList = [
        {image:'./images/report.svg',
        class:'col-md-6 col-lg-4',
        text:'Разрабатываем маркетинг-план: дорожная карта достижения целей'},
        {image:'./images/idea.svg',
        class:'col-md-6 col-lg-8',
        text:'Повышаем эффективность продвижения: аудит существующей модели'},
        {image:'./images/search.svg',
        class:'col-md-6 col-lg-4',
        text:'Находим скрытую прибыль: анализ модели ценообразования'},
        {image:'./images/startup.svg',
        class:'col-md-6 col-lg-4',
        text:'Запускаем новый проект: start-up маркетинг'},
    ]

section.services.container#services
    img.services-octagon(src=('./images/services-octagon.svg') alt='узор')
    img.services-line.col-md-8(src=('./images/services-line.svg') alt='узор')
    h1.services-title Услуги
    .row
        each item in servicesList 
            div(class=item.class)
                a(href='./services.html')
                    .services__item
                        img.services__item-image(src=item.image)
                        p.services__item-text=item.text
                

        

    