
-var featureList=['Как найти точки роста и определить цели?', 'Как увеличить прибыль, управляя ценами?','Как избежать проблем на старте нового бизнеса?','Как не попасть в "черную дыру" затрат на продвижение?']

section.main.container
    .main__banner.row
        .row
            img.banner-octagon.col-2(src='./images/octagons.svg')
            img.banner-topLine.col-sd-10.col-md-7(src='./images/top-line.svg')
           
        .banner__info.col-md-6
            h1.banner__info-title Создаем решения
            h2.banner__info-subtitle Для роста бизнеса
            p.banner__info-text.col-12.col-sd-11.col-md-11 На основе анализа данных с алгоритмами реализации
            button.banner__info-button Обсудить проблему
            img.banner-arrows.col(src='./images/arrows.svg')   
        .col-md-1
        img.banner__media.col-9.col-md-5(src='./images/cube.svg')
        .col-2 
        .col-7 
          img.banner-bottomLine.col-md-7(src='./images/bottom-line.svg')   
          img.banner-bottomLine2.col-ls-6(src='./images/bottom-line2.svg')   
          
    .main__feature.row 
        each item in featureList
            .main__feature-item.col-12.col-md-6
                .col-md-0.col-lg-2  
                +list(item,'main__feature-img col-md-1 col-lg-2  ','main__feature-text col-md-10 col-lg-7')
                .col-md-0.col-lg-2  


    
