-
    let trainingList = [
        {title: 'Бизнес-тренинг «Маркетинг – технология роста»',
        text:['Для кого: руководители компаний, маркетологи, продавцы','Цели бизнес-тренинга:'],
        list: ['Определение маркетинга как технологии роста','Организация маркетинга как сквозного бизнес-процесса',
        'Получение практических навыков применения технологии маркетинга']},
        {title:'Тренинг с длинным названием в 3 текстовой строчки',
        text:['Для кого: руководители компаний, маркетологи, продавцы',
        'Цели бизнес-тренинга:'],
        list:['Определение маркетинга как технологии роста','Организация маркетинга как сквозного бизнес-процесса',
        'Получение практических навыков применения технологии маркетинга','Получение практических навыков применения технологии маркетинга']},
        {title:'Короткое название',
        text:['Для кого: руководители компаний, маркетологи, продавцы',
        'Цели бизнес-тренинга:'],
        list:['Определение маркетинга как технологии роста','Организация маркетинга как сквозного бизнес-процесса',
        'Получение практических навыков применения технологии маркетинга']}];
      


.trainingsList 
    .container 
        p Главная > Услуги
        img.trainingsList__octagon(src='./images/services-octagon.svg' alt='Узор')

        each item in trainingList
            .row.trainingsList__card 
                col-12.col-lg-6
                    h2.trainingsList__title=item.title
                    each text in item.text 
                        p.trainingsList__text=text 
                col-12.col-lg-6
                    each list in item.list 
                        .trainingsList__list
                            +list(list,'trainingsList__list-img',list,'trainingsList__list-text')
                .row
                a(href='./training.html' class='button trainingsList__button') Подробнее
             
               
                        
                    

        
        


                
