.main {
  &__banner {
    display: flex;
    align-items: center;
    margin: 88px -10px 35px;

    & > .row {
      align-items: flex-end;
      margin-bottom: -85px;
    }
  }

  &__feature {
    &-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 76px;
    }

    &-img {
      width: 35px;
      height: 38px;
      display: flex;
      justify-content: flex-start;
    }

    &-text {
      font-family: "Lato", sans-serif;
      font-size: 18px;
      line-height: 22px;
      padding-left: 60px;
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: #5391dc;
        text-decoration: underline;
        transition: all 0.2s;
      }
    }
  }
}

.form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  padding: 65px 0 150px;
  background-color: rgba(0, 0, 0, 0.35);
  overflow-y: auto;

  &-inner {
    position: relative;
    min-height: 400px;
    padding: 50px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: (4px 4px 20px rgba(40, 44, 55, 0.2));
    border-radius: 20px;
    width: 643px;
    margin: 0 auto;
    background-color: #fff;
  }

  &-title {
    font-family: "Lato";
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 36px;
  }

  &-input {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #9fa7b0;
    border-radius: 8px;
    width: 100%;
    padding: 14px 20px;
    outline: #9fa7b0;

    &:focus {
      border: 1px solid #282c37;
    }
  }

  &-warning {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #cf4747;
    padding: 0 0 6px 10px;
    visibility: hidden;
  }
  &-button {
    font-size: 18px;
    line-height: 20px;
    padding: 15px 20px;
    background: #47cf34;
    transition: all 0.2s;

    &:hover {
      background: #30b01e;
      transition: all 0.2s;
    }
  }
  &-closeButton {
    position: absolute;
    top: 18px;
    left: 20px;
    width: 20px;
  }

  &-visable {
    display: block;
  }

  &-status {
    visibility: hidden;
    font-family: "Lato";
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #30b01e;
    padding-top: 37px;

    &-visiable {
      visibility: visible;
    }
  }
}

.banner {
  &-octagon {
    margin-bottom: -100px;
    width: 165px;
  }
  &-topLine {
    margin-left: 50px;
  }
  &-bottomLine {
    width: 606px;
    margin: -75px 0 0 30px;
  }
  &-bottomLine2 {
    display: none;
  }
  &-arrows {
    display: none;
  }

  &__info {
    padding: 14px 0 0 40px;

    &-title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 54px;
      text-transform: uppercase;
    }

    &-subtitle {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      padding: 4px 0 20px;
    }

    &-text {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      padding-bottom: 32px;
    }
  }

  &-button {
    background-color: #47cf34;
    transition: all 0.2s;

    &:hover {
      background-color: #30b01e;
      transition: all 0.2s;
    }
  }
}

.button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 32px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .main {
    &__banner {
      display: flex;
      align-items: center;
      margin: 88px -10px 35px;

      & > .row {
        // align-items: flex-end;
        margin-bottom: -65px;
      }
    }
  }
  .banner {
    &-octagon {
      margin-bottom: -70px;
      width: 145px;
    }

    &-bottomLine {
      width: 506px;
      margin: -45px 0 0 30px;
    }

    &__info {
      padding-left: 35px;
      &-title {
        font-size: 36px;
        line-height: 50px;
      }

      &-subtitle {
        font-size: 27px;
        line-height: 35px;
      }

      &-text {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .main {
    &__banner {
      display: flex;
      align-items: center;
      margin: 38px -10px 25px;

      & > .row {
        align-items: flex-start;
        margin-bottom: -85px;
      }
    }

    &__feature {
      margin-top: 0px;
      padding: 0 20px;
      &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
      }

      &-text {
        padding-left: 30px;
      }
    }
  }

  .banner {
    &-octagon {
      margin-bottom: -50px;
      width: 160px;
    }

    &-topLine {
      margin-left: 0px;
    }

    &-bottomLine {
      display: none;
    }
    &-bottomLine2 {
      display: block;
      margin-left: 20px;
      margin-top: -20px;
    }

    &__info {
      padding-top: 40px;
      &-title {
        font-size: 28px;
        line-height: 34px;
      }

      &-subtitle {
        font-size: 18px;
        line-height: 22px;
        padding: 5px 0;
      }

      &-text {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 12px;
      }
    }
  }

  .form {
    &-inner {
      min-height: 400px;
      width: 70%;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    &__banner {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 38px -10px 25px;

      & > .row {
        display: none;
      }
    }

    &__feature {
      margin-top: 0px;
      padding: 0 20px;
      &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
      }
    }
  }

  .banner {
    &-bottomLine2 {
      display: none;
    }
    &-arrows {
      display: block;
      margin: 50px auto 62px;
    }

    &__info {
      text-align: center;
      padding: 22px 0 0;
      margin-top: 15px;
      &-title {
        font-size: 28px;
        line-height: 34px;
      }

      &-subtitle {
        font-size: 18px;
        line-height: 22px;
        padding: 5px 0;
      }

      &-text {
        font-size: 14px;
        line-height: 17px;
        // padding-bottom: 24px;
        padding: 12px 15px 24px;
      }
    }

    &__media {
      width: 265px;
    }
  }

  .form {
    // display: none;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // height: 100vh;
    // padding: 135px 0 0 0;
    background-color: #fff;

    &-inner {
      // position: relative;
      // min-height: 400px;
      padding: 50px 40px;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      box-shadow: none;
      // border-radius: 20px;
      width: 375px;
      margin-top: 55px;
      // margin: 0 auto;
      // background-color: #fff;
    }

    &-input {
      font-family: "Lato";
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      border: 1px solid #9fa7b0;
      border-radius: 8px;
      width: 100%;
      padding: 14px 20px;
      outline: #9fa7b0;
    }
    &-button {
      font-size: 18px;
      line-height: 20px;
      padding: 15px 20px;
    }
    &-closeButton {
      position: absolute;
      top: -100px;
      left: 25px;
      width: 28px;
    }
  }
}
