.services {
  padding: 0 20px;
  &-line {
    margin-top: -42px;
  }
  &-octagon {
    margin-bottom: -32px;
  }

  &-title {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin: -47px 0 0 48px;
  }

  & > .row {
    margin: 85px -7px 0;
  }
  &__item {
    background: #6ca7ef;

    &-text {
      font-family: "Lato", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      color: #ffffff;
    }
  }
}
