include pug/libs/_mixin
doctype html
html(lang='en')
    include pug/components/_head 
    body
        include pug/components/_header
        include pug/components/_pageServices
        include pug/components/_form
        include pug/components/_footer
        
       

    
  
